*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/

nbproject/build-impl.xml

nbproject/configs/Run_as_WebStart.properties

nbproject/configs/Run_in_Browser.properties

nbproject/genfiles.properties

nbproject/jfx-impl.xml

nbproject/project.properties

nbproject/project.xml

target/WeatherLogServer-1.0/WEB-INF/classes/.netbeans_automatic_build

target/WeatherLogServer-1.0/WEB-INF/glassfish-web.xml

target/maven-archiver/pom.properties

target/WeatherLogServer-1.0/gfv3ee6.dpf
